:root {
    --body-copy: 16px;
    --page-spacing: 24px;
  
    --main-heading: calc(var(--body-copy) * 3);
    --sub-heading: calc(var(--body-copy) * 1.5);
  }
  
  @media (min-width: 375px) {
    :root {
      --body-copy: 20px;
      --page-spacing: 48px;
  
      --main-heading: calc(var(--body-copy) * 6);
      --sub-heading: calc(var(--body-copy) * 2);  
    }
  }
  
  
  body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: var(--body-copy);
  }
  
  body > * {
    padding: var(--page-spacing);
  }
  
  h1 {
    font-size: var(--main-heading);
  }
  
  h2 {
    font-size: var(--sub-heading);
  }
  
  header,
  footer {
    background-image: url("Critical\ Graphic\ Design.jpg");
    background-color: #FAFF00;
  }
  
  header {
    display: flex;
    flex-direction: column;
    gap: calc(var(--page-spacing) * 1);
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 15vh;
  }
  
  footer {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
  }

  @media (min-width: 768px) {
    header {
      flex-direction: row;
      justify-content: space-around;
    }
    p {
      padding-bottom: 30px;
      padding-right: 300px;
    }
  }

  .highlightpink { background-color:#FF71F1; }
  .highlightgreen {background-color: #8FFF00; }
  .highlightblue {background-color: #71E5FF; }
  .highlightyellow {background-color: #FAFF00; }
