:root {
    --body-copy: 16px;
    --page-spacing: 24px;
  
    --main-heading: calc(var(--body-copy) * 4);
    --sub-heading: calc(var(--body-copy) * 1.5);
  }
  

  @media (min-width: 375px) {
    :root {
      --body-copy: 16px;
      --page-spacing: 30px;
  
      --main-heading: calc(var(--body-copy) * 3.5);
      --sub-heading: calc(var(--body-copy) * 2);  
    }
    
    details {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      font-weight: bold;
  }
}

  p {      
    padding-bottom: 40px;
  }
  
  body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: var(--body-copy);
  }
  
  body > * {
    padding: var(--page-spacing);
  }
  
  h1 {
    font-size: var(--main-heading);
  }
  
  h2 {
    font-size: var(--sub-heading);
  }
  
  header,footer {
    background-image: url("Critical\ Graphic\ Design.jpg");
    background-color: #FAFF00;
    background-size: cover; 
  }
  
  header {
    display: flex;
    flex-direction: column;
    gap: calc(var(--page-spacing) * 1);
    min-height: 90vh;
    min-width: 100vw;
    padding-top: 11vh;
  }
  
  footer {
    padding-top: 60px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
  }


  .highlightpink { background-color:#FF71F1; }
  .highlightgreen {background-color: #8FFF00; }  
  .highlightblue {background-color: #71E5FF; }
  .highlightyellow {background-color: #FAFF00; }

  .green {
    color: #8FFF00;
    background-color: black;}
  
  .pink {
    color: #FF71F1;
    background-color: black;}

  .blue {
    color: #71E5FF;
    background-color: black;}

  .yellow {
    color: #FAFF00;
    background-color: black;}

  @media (min-width: 768px) {
    header {
      flex-direction: row;
      justify-content: space-around;
    --main-heading: calc(var(--body-copy) * 7);
    --sub-heading: calc(var(--body-copy) * 4);  
    }
    p {
      width:60%;
      margin-left: auto;
      margin-right: auto;
    }
  
    details {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      font-weight: bold;
      font-size: var(--body-copy);
      width:60%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10px;
    }
    }

    .zoom-in { cursor: zoom-in; }

    @media print {
      header {
        min-height: 30vh;
        border-bottom: 2px solid black;
      }
      footer {display: none;} 
      a {display: none;}

      body {padding-left: 30px;
            padding-right: 60px}
      }
