:root {
    --body-copy: 16px;
    --page-spacing: 24px;
  
    --main-heading: calc(var(--body-copy) * 4);
    --sub-heading: calc(var(--body-copy) * 1.5);
  }
  
  @media (min-width: 768px) {
    header {
      flex-direction: row;
      justify-content: space-around;
    }
    p {
      width:60%;
      margin-left: auto;
      margin-right: auto;
    }

    details {
      width:60%;
      margin-left: auto;
      margin-right: auto;
      padding: 10%
    }
    }


  @media (min-width: 376px) {
    :root {
      --body-copy: 20px;
      --page-spacing: 48px;
  
      --main-heading: calc(var(--body-copy) * 5.5);
      --sub-heading: calc(var(--body-copy) * 2);  
    }
  }
  

  p {      
    padding-bottom: 30px;
  }
  
  body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: light;
    font-size: var(--body-copy);
  }
  
  body > * {
    padding: var(--page-spacing);
  }
  
  h1 {
    font-size: var(--main-heading);
  }
  
  h2 {
    font-size: var(--sub-heading);
  }
  
  header,
  footer {
    background-image: url("Critical\ Graphic\ Design.jpg");
    background-color: #FAFF00;
    background-size: cover; 
  }
  
  header {
    display: flex;
    flex-direction: column;
    gap: calc(var(--page-spacing) * 1);
    min-height: 90vh;
    min-width: 100vw;
    padding-top: 5vh;
  }
  
  footer {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
  }


  .highlightpink { background-color:#FF71F1; }
  .highlightgreen {background-color: #8FFF00; }  
  .highlightblue {background-color: #71E5FF; }
  .highlightyellow {background-color: #FAFF00; }

  .green {
    color: #8FFF00;
    background-color: black;}



  